<html>
  <head>
    <title>
      വെല്യമ്മച്ചീടെ പാട്ട് പെട്ടി
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="formContainer">
      <form id="queryForm">
        <input type="text" placeholder="Find Song..." id="queryInput">
        <input type="submit" id="submitBtn" value="Play"></input>
        <div id="suggestionBox" style="visibility:hidden">
          <select id="dropDown">
          </select>
        </div>
      </form>
    </div>
    <div id="queueContainer">
      <h1 id="nowPlaying"></h1>
    </div>
    <div id="audioContainer">
      <audio autoplay controls id="audioPlayer">
      </audio>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>